#noSesion a {
    color: black;
    background: rgb(0, 200, 255);
    padding: 5px;
    text-decoration: none;
    border: 2px solid hsl(193, 100%, 35%);
    border-radius: 5px;
    transition: all .25s ease;
}
#noSesion a:hover {
    background: hsl(193, 100%, 65%);
    border: 2px solid hsl(193, 100%, 45%);
}